<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="haibo.com.contentprovider1">

    <permission
        android:name="haibo.com.PROVIDER"
        android:label="provider permission"
        android:protectionLevel="normal" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".provider.BookProvider"
            android:authorities="haibo.com.contentprovider1.book.provider"
            android:enabled="true"
            android:exported="true"
            android:permission="haibo.com.PROVIDER"></provider>
    </application>

</manifest>